* {
  box-sizing: border-box;
}

/* ====================== */
/* CSS login.html*/
/* ====================== */

/* Mengatur font yang dipakai background halaman*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #038ade;
}

/* Mengatur container menjadi layout flexbox dan login di tengah*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Membuat kotak form login lebar 400px dan background putih */
.login-box {
  margin-top: 150px;
  flex-basis: 400px;
  background: #fff;
  padding: 20px;
}

/* Menagtaur judul form denagn border bawah dan posisi di tengah */
.login-box h2 {
  border-bottom: 1px solid #ccc;
  color: #555;
  text-align: center;
  padding-bottom: 20px;
  margin: 0 0 20px;
}

/* Mengatur agar tag input dan select memenuhi containe dan tampilan lebih bagus */
input,
select {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
}

/* Mengatur tampilan tombol submit */
input[type="submit"] {
  background-color: #038ade;
  border: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: darkcyan;
  color: #fff;
}

/* ====================== */
/* CSS dashboard.html*/
/* ====================== */

/* Mengatur desain header */
header {
  background: #038ade;
  color: #fff;
  padding: 15px 20px;
  font-size: 20px;
}

/* Mengatur lebar menu 20 % dengan background hitam */
aside {
  flex: 20%;
  background: #222;
}

/* Mengatur lebar konten utaa 80% dengan background putih */
section.main {
  flex: 80%;
  background: #ccc;
  min-height: 530px;
  padding: 15px 20px;
}

/* Mengatur footer dengan background abu-abu dan teks di tengah */
footer {
  background: #ccc;
  color: #555;
  padding: 20px;
  text-align: center;
}

/* Mengatur layout pada layar kecil (responsive) */
@media (max-widht: 700px) {
  .container {
    flex-direction: column;
  }
}

/* Navigasi */
/* Membuang padding tag <ul> */
.menu {
  padding: 0;
}

/* Menambah border bawah tag <li> */
.menu li {
  border-bottom: 1px solid dotted #444;
}

/* Mengatur desain menu yang dibuat di tag a */
.menu a {
  display: block;
  padding: 20px 20px;
  list-style: none;
  color: #fff;
  text-decoration: none;
}

/* Mengganti background menu ketika ditunjuk mouse */
.menu a:hover {
  background: #000;
}

/* ====================== */
/* CSS tabel.html*/
/* ====================== */

/* Mengatur desain judul halaman dengan border di bawah */
.judul {
  color: #555;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

/* Mengatur agar lebar tabel penuh dan antar border tidak memiliki jarak */
.tabel {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

/* Menambah barder dan padding pada sel tabel */
.table th,
.table td {
  border: 1px sp;
  display: #ccc;
  padding: 10px;
}

/* Mengatur background bagian judul tabel */
.table th {
  background: #eee;
}

/* Mengatur desain tombol yang dibuat dengan tag <a> */
.tombol {
  display: inline-block;
  max-width: 150px;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
  background: #038ade;
  cursor: pointer;
}

/* Desain tombol edit dan hapus agar lebih kecil */
.tombol.edit,
.tombol.hapus {
  padding: 10px 15px;
  font-size: 12px;
}
.tombol.tombol.hapus {
  background: #fc4c4c;
}

/* Tambahan dari saya agar teks di tengah */
.table tr {
  text-align: center;
}

/* ====================== */
/* CSS file form.html */
/* ====================== */

/* Mengatur form-group agar tidak terpengaruh float */
.form-group {
  clear: both;
}

/* Mengatur lebar label 30% dengan teks bold */
.form-group label {
  display: block;
  padding: 15px 0;
  float: left;
  width: 30%;
  font-weight: bold;
}

/* Mengatur lebar .input 50% dan sejajar dengan label */
.form-group .input {
  display: block;
  width: 50%;
  float: left;
}

/* Mengatur input radio, tombol submit dan tombol reset */
input[type="radio"] {
  width: 50px;
}
.tombol.simpan {
  background: #038ade;
}
.tombol.reset {
  background: #fb8307;
}

/* Membuat tampilan form menumpuk pada layar kecil */
@media (max-width: 700px) {
  .form-group label,
  .form-group .input {
    width: 100%;
  }
}
